

#Dialog {
  background-color: rgba(0, 0, 0, 0.85);

  #Window {
    background-color: $background-primary;
    border: 1px solid $background-secondary;
    color: $text-normal;
    border-radius: 5px;

    #Header2 {
      margin-bottom: 0;
    }

    #Footer {
      background-color: $background-secondary;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
