@import '../../Colors.scss';

#UserPanel {
  #NameLabel {
    color: $header-primary;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  #DiscLabel {
    color: $header-secondary;
    font-size: 14px;
    line-height: 13px;
  }
  #DIconButton {
    background: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: rgb(116, 127, 141);
    &:hover {
      background: $background-modifier-selected;
    } 
  }
}