@import '../../Colors.scss';

#UserPanel {
  #NameLabel {
    color: $header-primary;
    font-weight: bold;
  }
  #DiscLabel {
    color: $header-secondary;
  }
  #DIconButton {
    border-radius: 5px;
    &:hover {
      background: $background-modifier-selected;
    } 
  }
}