@import '../../Colors.scss';

#UserPanel {
  #NameLabel {
    color: $header-primary;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  #DiscLabel {
    color: $header-secondary;
    font-size: 14px;
    line-height: 13px;
  }
  #DIconButton {
    border-radius: 5px;
    &:hover {
      background: $background-modifier-selected;
    } 
  }
}