Package: discord-qt
Version: 0.5.0
Section: net
Priority: optional
Homepage: https://github.com/ruslang02/discord-qt
Architecture: amd64
Installed-Size: 1024
Maintainer: Ruslan Garifullin <ruslan.g2002@gmail.com>
Description: Discord client in Qt.
