@import '../../Colors.scss';

#MembersList {
  background-color: $background-secondary;
  &::item, &::item:selected, &::item:hover {
    background-color: transparent;
    border: none;
    padding: 8px;
  }
}