#MainView #DTitleBar {
  @if $theme-name == amoled {
    background-color: $background-secondary;
  } @else {
    background-color: $background-primary;
  }

  border-bottom: 1px solid $background-secondary-alt;

  #UserNameLabel,
  #UserNameInput {
    font-size: 16px;
    font-weight: bold;
    color: $header-primary;
  }

  #UserNameInput {
    background: transparent;
    border: none;
    border-radius: 2px;

    &:hover,
    &:focus {
      background-color: $background-tertiary;
      border: 1px solid $background-tertiary;
    }
  }

  #StatusLabel {
    font-size: 12px;
    font-weight: 500;
  }
}
