@import '../../../Colors.scss';

#MyAccountCard {
  border-width: 1px;
  border-style: solid;
  border-color: $background-tertiary;
  border-radius: 5px;
  background-color: $deprecated-card-bg;
  #Bold {
    color: darken($channels-default, 2%);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
  }
  #Normal {
    color: $header-secondary;
    font-size: 14px;
    line-height: 18px;
  }
}