#VoicePanel {
  background-color: $background-secondary-alt;

  #DIconButton {
    background: none;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    color: rgb(116, 127, 141);

    &:hover {
      background: $background-modifier-selected;
    }

    &::menu-indicator {
      width: 0px;
    }
  }

  #StatusLabel {
    font-weight: 600;
    font-size: 14px;
  }

  #InfoLabel {
    font-size: 12px;
    color: $header-secondary;
  }
}
