@import '../../Colors.scss';

#SettingsView {
  width: '100%';
  height: '100%';
  background-color: $background-primary;
  #SettingsContainer {
    background-color: $background-primary;
    border: none;
  }
  #LeftSpacer, #SectionList {
    background-color: $background-secondary;
    #Divider {
      margin: 8px 10px;
      height: 1px;
      background-color: $background-modifier-accent;
    }
  }
  #CloseButton {
    border-radius: 18px;
    border: 2px solid $text-muted;
    &:hover {
      background-color: rgba(114,118,125,.3);
    }
  }
  #CloseKeybind {
    margin-top: 2px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: $text-muted;
  }
  #CategoryHeader {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: $channels-default;
    padding: 6px 10px;
  }
  #Footer {
    color: $text-muted;
    font-size: 12px;
    line-height: 16px;
    padding-top: 5px;
  }
  #PageButton {
    padding: 6px 10px;
    margin-bottom: 2px;
    border-radius: 3px;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    color: $interactive-normal;
    &:hover {
      background-color: $background-modifier-hover;
      color: $interactive-hover;
    }
    /*&:active {
      background-color: $background-modifier-active;
      color: $interactive-active;
    }*/
    &[active=true] {
      background-color: $background-modifier-selected;
      color: $interactive-active;
    }
  }
  #SCheckBox {
    border: none;
    background: none;
    QLabel {
      font-size: 16px;
      color: white;
    }
    #CheckBox {
      border: none;
    }
  }
}