#DComboBox,
#DTextEdit {
  font-size: 16px;
  background-color: $deprecated-text-input-bg;
  border: 1px solid transparent;
  border-color: $deprecated-text-input-border;
  border-radius: 3px;
  padding: 6px 8px;
  line-height: 1.3;
  color: $text-normal;
  &:hover {
    border-color: $deprecated-text-input-border-hover;
  }
  &:focus {
    border-color: $blurple;
  }
}