#DComboBox {
  color: $text-normal;
  selection-background-color: $background-modifier-active;

  &::drop-down {
    width: 36px;
    border: none;
    color: $text-normal;
  }

  QAbstractItemView {
    border-radius: 3px;
    background-color: $background-primary;
    border: 1px solid $deprecated-text-input-border;
    selection-background-color: $background-modifier-active;
    color: $text-normal;
  }

  &::item {
    color: $text-normal;
    height: 30px;
  }

  &::down-arrow {
    image: url(assets/icons/menu-down.png);
  }
}
