$blurple: #7289da;
$greyple: #99aab5;
$dark: #2c2f33;
$black: #23272a;
$red: #f04747;

$theme-name: light;

$header-primary: #060607;
$header-secondary: #4f5660;
$text-normal: #2e3338;
$text-muted: #747f8d;
$text-link: #0067e0;
$channels-default: #6a7480;
$interactive-normal: #4f5660;
$interactive-hover: #2e3338;
$interactive-active: #060607;
$interactive-muted: #c7ccd1;
$background-primary: #fff;
$background-secondary: #f2f3f5;
$background-secondary-alt: #ebedef;
$background-tertiary: #e3e5e8;
$background-accent: #747f8d;
$background-floating: #fff;
$background-mobile-primary: #f8f9f9;
$background-mobile-secondary: #fff;
$background-modifier-hover: rgba(116, 127, 141, 0.08);
$background-modifier-active: rgba(116, 127, 141, 0.16);
$background-modifier-selected: rgba(116, 127, 141, 0.24);
$background-modifier-accent: rgba(6, 6, 7, 0.08);
$background-mentioned: rgba(250, 166, 26, 0.1);
$background-mentioned-hover: rgba(250, 166, 26, 0.2);
$background-message-hover: rgba(6, 6, 7, 0.02);
$background-help-warning: rgba(250, 166, 26, 0.1);
$background-help-info: rgba(0, 103, 224, 0.1);
$scrollbar-thin-thumb: rgba(79, 84, 92, 0.3);
$scrollbar-thin-track: transparent;
$scrollbar-auto-thumb: #ccc;
$scrollbar-auto-track: #f2f2f2;
$scrollbar-auto-scrollbar-color-thumb: #e3e5e8;
$scrollbar-auto-scrollbar-color-track: #f2f3f5;
$logo-primary: #7289da;
$focus-primary: #00b0f4;
$channeltextarea-background: #ebedef;
$activity-card-background: #fff;
$textbox-markdown-syntax: #6a7480;
$deprecated-card-bg: #f8f9f9;
$deprecated-card-editable-bg: rgba(246, 246, 247, 0.6);
$deprecated-store-bg: #f8f9f9;
$deprecated-quickswitcher-input-background: #fff;
$deprecated-quickswitcher-input-placeholder: rgba(79, 84, 92, 0.3);
$deprecated-text-input-bg: rgba(79, 84, 92, 0.02);
$deprecated-text-input-border: rgba(79, 84, 92, 0.3);
$deprecated-text-input-border-hover: #b9bbbe;
$deprecated-text-input-border-disabled: #dcddde;
$deprecated-text-input-prefix: #b9bbbe;

@import '../components/**/*.scss';
@import '../dialogs/**/*.scss';
@import '../views/**/*.scss';
@import '../windows/**/*.scss';
