#InputPanel {
  background: #40444b;
  border-radius: 8px;
  #Input {
    background: #40444b;
    border: none;
    color: #dcddde;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #TypingLabel {
    color: #dcddde;
    font-size: 12px;
  }
}