@import '../../Colors.scss';

#InputContainer {
  #TypingLabel, #StatusLabel {
    color: $text-normal;
    font-size: 14px;
    line-height: 24px;
  }
  #InputPanel {
    background: $channeltextarea-background;
    border-radius: 8px;
    #Input {
      background: $channeltextarea-background;
      border: none;
      color: $text-normal;
      font-size: 16px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  #AttachmentPanel QLabel {
    background-color: $background-secondary;
    border-radius: 8px;
  }
  QScrollBar {
    border-color: $channeltextarea-background;
  }
}