#DChannelButton {
  border-radius: 4px;
  #Indicator {
    color: $interactive-active;
  }
  *, QLabel {
    color: $channels-default;
    background: none;
  }
  &[hover=true] {
    background-color: $background-modifier-hover;
    *, QLabel {
      color: $interactive-hover
    }
  }
  &[active=true] {
    background-color: $background-modifier-selected;
    *, QLabel {
      color: $interactive-active;
    }
  }
  &[unread=true] {
    *, QLabel {
      color: $interactive-active;
    }
  }
}