@import "../../Colors.scss";

#MiniProfile {
  background-color: $background-primary;
  border-radius: 5px;
  border: 1px solid $deprecated-text-input-border;
  #Profile {
    background-color: $background-secondary;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &[isPlaying="true"] {
      background-color: $blurple;
    }
  }
  #Nickname {
    font-weight: 500;
    line-height: 18px;
    color: #fff;
    font-size: 16px;
    margin-top: 12px;
  }
  #Username {
    line-height: 18px;
    color: $header-secondary;
    font-size: 14px;
  }
  #CustomStatusLabel {
    margin-top: 12px;
    #Text {
      text-align: center;
      color: white;
      font-size: 14px;
    }
  }
  #ProfilePresence {
    background-color: darken($blurple, 2);
    #Header {
      text-transform: uppercase;
      color: white;
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;
    }
    #Label {
      font-size: 14px;
    }
  }
}
