@import '../Colors.scss';
* {
  font-family: 'Source Sans Pro'; // Default font
//font-family: Whitney;           // Discord's font
}
#RootWindow {
  height: '100%';
  width: '100%';
  background-color: $black;
}