@import '../Colors.scss';
* {
  font-family: 'Source Sans Pro'; // Default font
//font-family: Whitney;           // Discord's font
}
#RootWindow {
  height: '100%';
  width: '100%';
  background-color: $black;
}
QToolTip {
  background-color: #000;
  color: $text-normal;
  font-size: 14px;
  border: 1px solid $interactive-hover;
  padding: 1px 2px;
}