
* {
  font-family: "Source Sans Pro"; // Default font
  //font-family: Whitney;           // Discord's font
}
#RootWindow {
  height: "100%";
  width: "100%";
  background-color: $black;
}
QToolTip {
  background-color: #000;
  color: $text-normal;
  font-size: 14px;
  border: 1px solid $interactive-hover;
  padding: 1px 2px;
}
QMenu {
  background: $background-floating;
  border-radius: 4px;
  padding: 8px;
  border: none;
  color: $interactive-normal;
  &::separator {
    height: 1px;
    background: $background-modifier-accent;
    margin: 4px;
  }
  &::item {
    color: $interactive-normal;
    background-color: $background-floating;
    border-radius: 2px;
    font-size: 14px;
    line-height: 18px;
    padding: 6px 8px;
    min-width: 120px;
    max-width: 240px;
  }
  &::item:selected {
    background-color: #5c6fb1;
    color: white;
  }
  &::item:disabled {
    color: $interactive-muted;
  }
  &::icon {
    left: 8px;
  }
}
QScrollBar {
  background-color: transparent;
  border-radius: 2px;

  &:horizontal {
    height: 8px;
    border: 2px solid $background-secondary;
  }
  &:vertical {
    width: 8px;
    border: 2px solid $background-secondary;
  }
  &::handle {
    background-color: $scrollbar-thin-thumb;
    border-radius: 2px;
  }
  &::add-line, &::sub-line {
    height: 0px;
  }
  &::add-page, &::sub-page {
    background-color: transparent;
  }
}