#UserButton {
  //width: '100%';
  //padding-left: 8px;
  //padding-right: 8px;
  //padding-top: 5px;
  //padding-bottom: 5px;
  border-radius: 4px;
  color: rgb(142, 146, 151);
  &:hover {
    background-color: rgba(79, 84, 92, 0.32);
  }
  #UserNameLabel:hover, #StatusLabel:hover {
    color: white;
  }
  #InfoContainer {
    flex-direction: column;
    color: inherit;
  }
  #UserNameLabel {
    font-size: 16px;
    font-weight: 400;
    color: rgb(142, 146, 151);
  }
  #StatusLabel {
    font-size: 12px;
    color: rgb(142, 146, 151);
  }
  #Avatar {
    //margin-top: 1px;
    //margin-right: 10px;
    width: 36px;
    height: 36px;
  }
}