#DChannelButton[type='DMButton'] {
  #StatusIndicator {
    border: 3px solid $background-secondary;
    border-radius: 8px;
  }

  &[hover='true'] #StatusIndicator {
    border-color: mix($background-secondary, $background-modifier-hover);
  }

  &[active='true'] #StatusIndicator {
    border-color: mix($background-secondary, $background-modifier-selected);
  }
}
