

#MainView #GuildPanel {
  background-color: $background-secondary;
  #DTitleBar, #ChannelsList {
    background-color: $background-secondary;
  }
  #ChannelsList {
    margin-bottom: 8px;
    &::item {
      padding: 6px 6px 6px 0;
      color: transparent;
      background: $background-secondary;
      border: none;
      outline: none;
    }
    *::item {
      color: transparent;
      border: none;
      outline: none;
    }
  }
  #UnreadIndicator {
    border-radius: 4px;
    background: $header-primary;
  }
  QMenu {
    background: $background-floating;
  }
  #DTitleBar:hover {
    background-color: lighten($background-secondary, 2%);
  }
  #CategoryHeader {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    padding-top: 12px;
    padding-right: 6px;
    color: $channels-default;
    &:hover {
      color: $interactive-hover;
    }
  }
  #GuildLabel {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $header-primary;
  }
  #ActionsMenu {
    border-bottom: 1px solid $background-floating;
  }
}