#DMPanel {
  #UsersContainer {
    background-color: #2f3136;
    border: none;
  }
  #UsersList {
    background-color: #2f3136;
  }
  #DMLabel {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 4px;
    margin-left: 5px;
    color: #8e9297;
  }
}