@import '../../Colors.scss';
QScrollBar {height:0px;}
#GuildsList {
  background: $background-tertiary;

  #PageButton {
    margin-bottom: 10px;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    font-size: 18px;
    background-color: $background-primary; // darken($dark, 0.5);
    border: none;
    &:hover, &[active='true'] {
      background-color: $blurple;
      border-radius: 15px;
    }
  }

  #Separator {
    height: 4px;
    background-color: $background-primary;
    margin-bottom: 5px;
    border-radius: 2px;
    margin-left: 15px;
  }
}