#GuildsList {
  background: $background-tertiary;
  &::item {
    background-color: $background-tertiary;
    border: none;
    color: transparent;
  }
  QScrollBar:vertical {
    width: 0px;
  }
  #PageButton {
    border-radius: 24px;
    font-size: 18px;
    margin: 0 12px 8px;
    background-color: $background-primary;
    border: none;
    color: $header-primary;
    &:hover,
    &[active="true"] {
      background-color: $blurple;
    }
  }
  #UnreadIndicator {
    border-radius: 4px;
    background: $header-primary;
  }
  #Separator {
    height: 2px;
    background-color: $background-modifier-accent;
    border-radius: 1px;
    margin: 0 20px 8px;
  }
}
